<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 align-items-center">
      <div class="card text-center">
        <div class="card-header">
          Yapılacaklar Listesi
        </div>
        <div class="card-body">
          <h5 class="card-title">Hoşgeldin: <span class="text-primary">{{ getName() }}</span></h5>
          <p class="card-text">Listeye Yeni Bir Yapılacak Elemanı Ekle</p>
          
          <div class="input-group mb-3">
            <input type="text" #todoText class="form-control" placeholder="Ne Yapacaksınız?">
            <div class="input-group-append">
              <button class="btn btn-outline-success" (click)="addItem(todoText.value); todoText.value='';">Listeye Ekle</button>
            </div>
          </div>
      
        </div>
        <div class="card-footer text-muted">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="isDisplay" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Tüm Listeyi Göster
            </label>
          </div>
        </div>
      </div>

      <table class="table table-hover table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Yapıldı İşaretle</th>
            <th scope="col">Durum</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItems(); let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ item.description }}</td>
            <td>
              <input type="checkbox" [(ngModel)]="item.action">
            </td>
            <td [ngSwitch]="item.action">
              <p *ngSwitchCase="true">
                <span class="badge badge-success">Yapıldı</span>
              </p>
              <p *ngSwitchCase="false">
                <span class="badge badge-danger">Yapılmadı</span>
              </p>
              </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
